@page
@model IndexModel
@{
    ViewData["Title"] = "Login page";
}

<h2>Login Page</h2>

@if (Model.ErrorMessage != null)
{
    <div class="alert alert-danger">@Model.ErrorMessage</div>
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
    <form method="post">
        <div class="form-group">
            <label for="AccountNumber">AccountNumber</label>
            <input type="text" id="AccountNumber" name="AccountNumber" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
